In [1]:
import pyspark
from pyspark.sql import SparkSession, types
from pyspark import SparkContext

# 전역 SparkContext 정리
SparkContext.setSystemProperty('spark.driver.host', '127.0.0.1')
SparkContext.setSystemProperty('spark.driver.bindAddress', '127.0.0.1')

# 모든 활성 context 중지
if SparkContext._active_spark_context:
    SparkContext._active_spark_context.stop()

# 새로 생성
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .config("spark.driver.host", "127.0.0.1") \
    .config("spark.driver.bindAddress", "127.0.0.1") \
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/16 19:06:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Question 1

In [2]:
spark.version

'4.1.1'

# Question 2

In [28]:
df = spark.read \
    .option("header", "true") \
    .parquet('yellow_tripdata_2024-10.parquet')

In [9]:
df = df.repartition(4)

In [10]:
df.write.parquet('data/pq/yellow/2024/04/')

In [15]:
!ls -lh data/pq/yellow/2024/04

total 188928
-rw-r--r--  1 doyeongyu  staff     0B  2 16 19:17 _SUCCESS
-rw-r--r--  1 doyeongyu  staff    22M  2 16 19:17 part-00000-f7b84d8b-7fa5-413e-8f95-839de17f9e63-c000.snappy.parquet
-rw-r--r--  1 doyeongyu  staff    22M  2 16 19:17 part-00001-f7b84d8b-7fa5-413e-8f95-839de17f9e63-c000.snappy.parquet
-rw-r--r--  1 doyeongyu  staff    22M  2 16 19:17 part-00002-f7b84d8b-7fa5-413e-8f95-839de17f9e63-c000.snappy.parquet
-rw-r--r--  1 doyeongyu  staff    22M  2 16 19:17 part-00003-f7b84d8b-7fa5-413e-8f95-839de17f9e63-c000.snappy.parquet

# Question 3

In [16]:
from pyspark.sql import functions as F

In [32]:
df = spark.read.parquet('data/pq/yellow/2024/04/')

In [33]:
df.registerTempTable('yellow')

In [40]:
spark.sql("""
    SELECT COUNT(*)
    FROM yellow
    WHERE TO_DATE(tpep_pickup_datetime) = '2024-10-15'
""").show()

+--------+
|count(1)|
+--------+
|  128893|
+--------+

In [36]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-10-04 23:19:27|  2024-10-04 23:43:28|              1|         6.07|         1|                 N|         229|         231|           1|       31.0|  1.0|    0.5|       4.0|         0.0|                  1.0|        40.0|                 2.5|        0.0|
|       2| 2024-10-03 22:22:07|  2024-10-03 22:26:50|              1|         1.51|         1|                 N|         229|         263|           1|        8.6|  1.0|    0.5|      2.72|         0.0|                  1.0|       16.32|                 2.5|        0.0|
|       1| 2024-10-04 14:46:23|  2024-10-04 15:20:58|              2|          9.4|         1|                 N|         141|         181|           1|       42.9|  2.5|    0.5|      11.7|         0.0|                  1.0|        58.6|                 2.5|        0.0|
|       1| 2024-10-01 16:02:42|  2024-10-01 16:11:29|              1|          0.9|         1|                 N|         237|         236|           1|        8.6|  5.0|    0.5|       3.0|         0.0|                  1.0|        18.1|                 2.5|        0.0|
|       2| 2024-10-10 18:55:26|  2024-10-10 19:18:42|              1|         2.58|         1|                 N|          90|         237|           1|       21.9|  2.5|    0.5|      5.68|         0.0|                  1.0|       34.08|                 2.5|        0.0|
|       2| 2024-10-03 15:21:58|  2024-10-03 15:38:58|              2|         1.93|         1|                 N|         237|          43|           1|       16.3|  2.5|    0.5|      2.28|         0.0|                  1.0|       25.08|                 2.5|        0.0|
|       1| 2024-10-09 14:31:50|  2024-10-09 14:46:46|              1|          0.8|         1|                 N|         164|         170|           1|       12.8|  2.5|    0.5|      3.35|         0.0|                  1.0|       20.15|                 2.5|        0.0|
|       2| 2024-10-09 17:30:22|  2024-10-09 18:03:25|              1|         5.08|         1|                 N|         161|          13|           1|       31.7|  2.5|    0.5|      5.73|         0.0|                  1.0|       43.93|                 2.5|        0.0|
|       2| 2024-10-09 21:02:52|  2024-10-09 21:08:42|              1|         0.63|         1|                 N|         186|         100|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|        12.2|                 2.5|        0.0|
|       2| 2024-10-04 16:53:23|  2024-10-04 17:21:09|              1|         4.83|         1|                 N|         163|          45|           2|       28.9|  2.5|    0.5|       0.0|         0.0|                  1.0|        35.4|                 2.5|        0.0|
|       2| 2024-10-09 11:01:37|  2024-10-09 11:16:04|              1|         3.22|         1|                 N|         229|           7|           2|       17.0|  0.0|    0.5|       0.0|         0.0|                  1.0|        21.0|                 2.5|        0.0|
|       2| 2024-10-10 18:45:44|  2024-10-10 19:05:42|              1|         1.68|         1|                 N|         107|         186|           2|       17.7|  2.5|    0.5|       0.0|         0.0|                  1.0|        24.2|                 2.5|        0.0|
|       2| 2024-10-03 13:47:00|  2024-10-03 14:09:11|              1|         8.33|         1|                 N|         138|         170|           1|       34.5|  5.0|    0.5|     10.44|        6.94|                  1.0|       62.63|                 2.5|       1.75|
|       1| 2024-10-04 07:47:33|  2024-10-04 07:54:09|              0|          0.0|         1|                 N|         170|         170|           1|        7.2|  2.5|    0.5|       0.0|         0.0|                  1.0|        11.2|                 2.5|        0.0|
|       2| 2024-10-08 12:54:46|  2024-10-08 13:04:15|              2|         0.49|         1|                 N|         237|         237|           2|        9.3|  0.0|    0.5|       0.0|         0.0|                  1.0|        13.3|                 2.5|        0.0|
|       2| 2024-10-06 08:06:10|  2024-10-06 08:21:27|              4|        11.53|         1|                 N|         132|         157|           2|       42.9|  0.0|    0.5|       0.0|         0.0|                  1.0|       46.15|                 0.0|       1.75|
|       2| 2024-10-01 15:47:03|  2024-10-01 15:59:46|              1|         1.08|         1|                 N|         163|         170|           4|      -12.1|  0.0|   -0.5|       0.0|         0.0|                 -1.0|       -16.1|                -2.5|        0.0|
|       2| 2024-10-08 19:12:25|  2024-10-08 19:51:29|              1|         5.73|         1|                 N|         161|          97|           1|       36.6|  2.5|    0.5|      8.62|         0.0|                  1.0|       51.72|                 2.5|        0.0|
|       2| 2024-10-06 16:45:34|  2024-10-06 16:49:17|              2|         0.52|         1|                 N|         151|         238|           1|        5.8|  0.0|    0.5|      1.96|         0.0|                  1.0|       11.76|                 2.5|        0.0|
|       2| 2024-10-06 16:55:30|  2024-10-06 17:11:58|              1|         2.48|         1|                 N|         163|         151|           1|       17.0|  0.0|    0.5|       3.0|         0.0|                  1.0|        24.0|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

# Question 4

In [41]:
spark.sql("""
    SELECT 
        MAX((UNIX_TIMESTAMP(tpep_dropoff_datetime) - UNIX_TIMESTAMP(tpep_pickup_datetime)) / 3600) as max_trip_hours
    FROM yellow
""").show()

+------------------+
|    max_trip_hours|
+------------------+
|162.61777777777777|
+------------------+

# Question 5

Spark's Application UI runs on port 4040 by default.

# Question 6

In [42]:
df_zones = spark.read \
            .option("header", "true") \
            .csv('taxi_zone_lookup.csv')

In [45]:
df_zones.registerTempTable('zones')

In [46]:
spark.sql("""
    SELECT 
        z.Zone,
        COUNT(*) as pickup_count
    FROM yellow y
    JOIN zones z ON y.PULocationID = z.LocationID
    GROUP BY z.Zone
    ORDER BY pickup_count ASC
    LIMIT 10
""").show()

+--------------------+------------+
|                Zone|pickup_count|
+--------------------+------------+
|Governor's Island...|           1|
|       Rikers Island|           2|
|       Arden Heights|           2|
|         Jamaica Bay|           3|
| Green-Wood Cemetery|           3|
|Charleston/Totten...|           4|
|   Rossville/Woodrow|           4|
|       West Brighton|           4|
|       Port Richmond|           4|
|Eltingville/Annad...|           4|
+--------------------+------------+